bin2cell==0.3.4
huggingface_hub==0.32.4
matplotlib==3.8.2
numpy==2.4.0
opencv_python==4.10.0.82
pandas==2.3.3
Pillow==12.0.0
pytorch_lightning==2.5.5
PyYAML==6.0.3
scanpy==1.11.5
scikit_learn==1.8.0
scipy==1.16.3
Shapely==2.1.2
skimage==0.0
tifffile==2025.10.16
timm==1.0.22
torch==2.4.0+cu124